* {
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  .container {
    width: 780px;
    height: 820px;
    border: 1px solid transparent;
    margin: 0 auto;
  }
  
  .chatting-wrapper {
    width: 80%;
    height: 80%;
    margin: 72px auto;
    display: flex;
    background-color: #ffb4b4;
    border-radius: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .chatting-wrapper .chatting-side-bar {
    width: 14%;
    height: 100%;
    border-right: 1px solid #fff9ca;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 8px;
  }
  .chatting-wrapper .chatting-side-bar div {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
  }
  
  .chatting-wrapper .chatting-side-bar .chatting-profile-img {
  }
  
  .chatting-wrapper .chatting-side-bar .chatting-side-bar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
  
  /* side-bar hover */
  .chatting-profile-img i {
    color: #ffdeb4;
    cursor: pointer;
  }
  
  .chatting-profile-img i:hover {
    color: #fff9ca;
    transition: all 0.3s ease;
  }
  
  .chatting-music i {
    color: #ffdeb4;
  }
  .chatting-music i:hover {
    color: #fff9ca;
    transition: all 0.3s ease;
  }
  
  .chatting-box i {
    color: #ffdeb4;
  }
  .chatting-box i:hover {
    color: #fff9ca;
    transition: all 0.3s ease;b4;
  }
  
  .chatting-friends-list i {
    color: #fff9ca;
  }

  
  .chatting-setting i {
    color: #ffdeb4;
  }
  .chatting-setting:hover i {
    color: #fff9ca;
    transition: all 0.3s ease;
  }
  