* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 780px;
  height: 820px;
  border: 1px solid transparent;
  margin: 0 auto;
}

.chatting-wrapper {
  width: 80%;
  height: 80%;
  margin: 72px auto;
  display: flex;
  background-color: #ffb4b4;
  border-radius: 18px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chatting-wrapper .chatting-side-bar {
  width: 14%;
  height: 100%;
  border-right: 1px solid #fff9ca;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 8px;
}
.chatting-wrapper .chatting-side-bar div {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
}

.chatting-wrapper .chatting-side-bar .chatting-profile-img {
}

.chatting-wrapper .chatting-side-bar .chatting-side-bar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

/* side-bar hover */
.chatting-profile-img i {
  color: #ffdeb4;
  cursor: pointer;
}

.chatting-profile-img i:hover {
  color: #fff9ca;
  transition: all 0.3s ease;
}

.chatting-music i {
  color: #fff9ca;
}

.chatting-box i {
  color: #ffdeb4;
}
.chatting-box:hover i {
  color: #fff9ca;
  transition: all 0.3s ease;
}

.chatting-friends-list i {
  color: #ffdeb4;
}
.chatting-friends-list:hover i {
  color: #fff9ca;
  transition: all 0.3s ease;
}

.chatting-setting i {
  color: #ffdeb4;
}
.chatting-setting:hover i {
  color: #fff9ca;
  transition: all 0.3s ease;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
/* Album */

.music-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-album-img {
  width: 250px;
  height: 250px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: url("https://w.namu.la/s/db95e8529db90e3ad7c75b6d7ea8506b7a4a6f0d547810cc6ab1aa8c7f063f848a56c4f93636c7fa53e81f5fe00a3374df82f3d4b38372669e466cad41c3ea9f36b7e06acae147f61a6142966e950257080eea04f768fb873eae432b951878f168c248e3eb80b880d47e416d753cc227");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(255, 249, 202, 0.25) 0px 54px 55px,
    rgba(255, 249, 202, 0.12) 0px -12px 30px,
    rgba(255, 249, 202, 0.12) 0px 4px 6px,
    rgba(255, 249, 202, 0.17) 0px 12px 13px,
    rgba(255, 249, 202, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.music-album-img:hover {
  animation: rotate 4s linear infinite;
}

.music-album-name {
  padding-top: 24px;
  color: #fff9ca;
}

.music-player {
  width: 250px;
  height: 70px;
  border: 1px solid transparent;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #fff9ca;
}

.music-player div {
  margin: 0 24px;
}

.music-back,
.music-play,
.music-forward {
  cursor: pointer;
}

.reponse-bottom-bar {
  display: none;
}

@media all and (max-width: 768px) {
  body {
    background-color: transparent;
  }
  .music-wrapper {
    position: relative;
  }
  .reponse-bottom-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 20px;
    font-size: 32px;
    border-top: 1px solid #fff9ca;
    padding-top: 24px;
  }
  .chatting-wrapper .chatting-side-bar {
    display: none;
  }
}
