* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff9ca;
}

body {
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
}

.container {
  width: 780px;
  height: 820px;
  border: 1px solid transparent;
  margin: 0 auto;
}

/* login */
.login-wrapper {
  width: 70%;
  height: 80%;
  border: 1px solid transparent;
  margin: 72px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  background-color: #ffb4b4;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-wrapper .login-title {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 42px;
  font-family: 600;
  color: #fff9ca;
}

.login-wrapper .login-user {
  width: 70%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper .login-user input {
  border: none;
  border-bottom: 1px solid #fff9ca;
  margin-bottom: 32px;
  padding: 7px;
  background: none;
}

.login-wrapper .login-user input::placeholder {
  text-align: center;
  color: #fff9ca;
}

.login-wrapper .login-user label {
  margin-bottom: 12px;
  color: #fff9ca;
}

.login-wrapper .login-btn {
  cursor: pointer;
  width: 102px;
  height: 52px;
  border: 1px solid #fff9ca;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  color: #fff9ca;
}
